discord.py==2.3.2
PyNaCl
Flask==3.1.2
aiohttp==3.13.2
aiosignal==1.4.0
attrs==25.4.0
frozenlist==1.8.0
idna==3.11
multidict==6.7.0
packaging==25.0
cffi==1.17.1
python-dotenv==0.9.9
Jinja2==3.1.6
MarkupSafe==3.0.3
itsdangerous==2.2.0
click==8.3.1
PyAudio
audioop-lts==0.2.2
